In [1]:
import pandas as pd

In [2]:
TN_demo = pd.read_excel('../data/tennesseecountydemographics2021.xlsx', sheet_name='Data')

In [3]:
income_df = pd.read_excel('../data/tennessee2021householdincome.xlsx', sheet_name='Data')

In [4]:
income_df

,Unnamed: 0,"Anderson County, Tennessee",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,"Blount County, Tennessee",...,Unnamed: 151,Unnamed: 152,"Wilson County, Tennessee",Unnamed: 154,Unnamed: 155,Unnamed: 156,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160
0,NaN,Households,NaN,Families,NaN,Married-couple families,NaN,Nonfamily households,NaN,Households,...,Nonfamily households,NaN,Households,NaN,Families,NaN,Married-couple families,NaN,Nonfamily households,NaN
1,Label,Estimate,Margin of Error,Estimate,Margin of Error,Estimate,Margin of Error,Estimate,Margin of Error,Estimate,...,Estimate,Margin of Error,Estimate,Margin of Error,Estimate,Margin of Error,Estimate,Margin of Error,Estimate,Margin of Error
2,Total,"31,735","±1,319","19,979","±1,830",N,N,"11,756","±1,455","55,446",...,"18,585","±2,495","55,047","±1,881","38,063","±2,177",N,N,"16,984","±1,956"
3,"Less than $10,000",8.8%,±3.1,4.6%,±2.5,N,N,16.3%,±6.2,3.5%,...,5.3%,±3.1,4.8%,±1.8,3.5%,±2.2,N,N,10.2%,±4.3
4,"$10,000 to $14,999",4.4%,±1.7,1.6%,±1.1,N,N,8.7%,±4.3,4.1%,...,3.9%,±2.7,1.7%,±0.8,0.8%,±0.8,N,N,3.5%,±2.1
5,"$15,000 to $24,999",7.6%,±2.5,3.5%,±2.0,N,N,15.8%,±5.6,6.7%,...,6.3%,±3.5,6.0%,±1.8,3.5%,±1.7,N,N,14.0%,±5.6
6,"$25,000 to $34,999",8.2%,±2.7,6.3%,±3.2,N,N,12.8%,±5.5,9.4%,...,9.9%,±3.6,4.8%,±1.8,3.9%,±1.6,N,N,7.9%,±4.0
7,"$35,000 to $49,999",14.9%,±3.8,14.2%,±4.5,N,N,17.2%,±6.5,14.8%,...,17.6%,±5.7,11.6%,±2.7,6.5%,±2.0,N,N,24.3%,±6.8
8,"$50,000 to $74,999",15.0%,±3.1,17.5%,±4.3,N,N,11.6%,±5.0,22.0%,...,23.9%,±5.5,17.5%,±3.2,15.9%,±3.9,N,N,17.2%,±5.4
9,"$75,000 to $99,999",15.8%,±3.2,19.6%,±4.1,N,N,8.4%,±5.2,12.6%,...,11.3%,±5.4,12.3%,±2.6,15.5%,±3.3,N,N,5.0%,±2.7
10,"$100,000 to $149,999",15.3%,±3.4,19.2%,±4.9,N,N,5.9%,±4.2,18.9%,...,10.1%,±4.6,21.9%,±3.4,27.1%,±4.5,N,N,9.4%,±4.7
11,"$150,000 to $199,999",6.3%,±1.7,7.9%,±2.6,N,N,2.7%,±2.8,3.5%,...,7.1%,±4.0,10.0%,±2.4,11.6%,±3.5,N,N,4.6%,±3.2
12,"$200,000 or more",3.8%,±1.5,5.6%,±2.3,N,N,0.7%,±1.1,4.4%,...,4.4%,±1.9,9.4%,±2.4,11.6%,±3.1,N,N,3.8%,±3.6
13,Median income (dollars),"60,364","±9,111","77,754","±5,470","91,057","±7,775","32,096","±5,363","62,102",...,"55,378","±5,556","80,960","±7,246","100,358","±8,828","111,369","±9,638","41,036","±3,301"
14,Mean income (dollars),"75,147","±6,027","91,205","±8,676",N,N,"43,647","±6,502","82,281",...,"77,214","±8,100","99,591","±6,914","114,849","±9,018",N,N,"58,956","±10,145"
15,PERCENT ALLOCATED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Household income in the past 12 months,41.9%,(X),(X),(X),(X),(X),(X),(X),33.8%,...,(X),(X),33.6%,(X),(X),(X),(X),(X),(X),(X)
17,Family income in the past 12 months,(X),(X),46.6%,(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),33.9%,(X),(X),(X),(X),(X)
18,Nonfamily income in the past 12 months,(X),(X),(X),(X),(X),(X),32.9%,(X),(X),...,31.5%,(X),(X),(X),(X),(X),(X),(X),29.1%,(X)

In [5]:
TN_demo

,Unnamed: 0,"Anderson County, Tennessee",Unnamed: 2,Unnamed: 3,Unnamed: 4,"Blount County, Tennessee",Unnamed: 6,Unnamed: 7,Unnamed: 8,"Bradley County, Tennessee",...,Unnamed: 71,Unnamed: 72,"Williamson County, Tennessee",Unnamed: 74,Unnamed: 75,Unnamed: 76,"Wilson County, Tennessee",Unnamed: 78,Unnamed: 79,Unnamed: 80
0,Label,Estimate,Margin of Error,Percent,Percent Margin of Error,Estimate,Margin of Error,Percent,Percent Margin of Error,Estimate,...,Percent,Percent Margin of Error,Estimate,Margin of Error,Percent,Percent Margin of Error,Estimate,Margin of Error,Percent,Percent Margin of Error
1,SEX AND AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Total population,"77,576",*****,"77,576",(X),"137,605",*****,"137,605",(X),"110,162",...,"134,236",(X),"255,735",*****,"255,735",(X),"151,917",*****,"151,917",(X)
3,Male,"38,441",±533,49.6%,±0.7,"66,943",±594,48.6%,±0.4,"53,995",...,49.2%,±0.4,"125,693",±936,49.1%,±0.4,"76,547",±994,50.4%,±0.7
4,Female,"39,135",±533,50.4%,±0.7,"70,662",±594,51.4%,±0.4,"56,167",...,50.8%,±0.4,"130,042",±936,50.9%,±0.4,"75,370",±994,49.6%,±0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,Total housing units,"35,532",±428,(X),(X),"60,847",±459,(X),(X),"45,369",...,(X),(X),"94,671",±80,(X),(X),"60,907",±434,(X),(X)
91,"CITIZEN, VOTING AGE POPULATION",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,"Citizen, 18 and over population","59,726",±544,"59,726",(X),"108,095",±979,"108,095",(X),"84,172",...,"107,649",(X),"182,064","±1,848","182,064",(X),"111,928","±1,386","111,928",(X)
93,Male,"28,992",±415,48.5%,±0.6,"51,559",±505,47.7%,±0.5,"40,994",...,48.3%,±0.2,"87,203","±1,699",47.9%,±0.5,"54,838",±919,49.0%,±0.6
94,Female,"30,734",±446,51.5%,±0.6,"56,536",±852,52.3%,±0.5,"43,178",...,51.7%,±0.2,"94,861",±849,52.1%,±0.5,"57,090",±989,51.0%,±0.6