In [17]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df1 = pd.read_csv('../data/USA_obesity_prevelance_since1975.csv')

In [3]:
df1

,Unnamed: 0,2016,2016.1,2016.2,2015,2015.1,2015.2,2014,2014.1,2014.2,...,1978.2,1977,1977.1,1977.2,1976,1976.1,1976.2,1975,1975.1,1975.2
0,NaN,"Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;...",...,"Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;..."
1,NaN,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,...,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years
2,"Countries, territories and areas",Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female,...,Female,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female
3,Afghanistan,5.5 [3.4-8.1],3.2 [1.3-6.4],7.6 [4.3-12.4],5.2 [3.3-7.7],3.0 [1.3-6.0],7.3 [4.1-11.8],4.9 [3.1-7.3],2.8 [1.2-5.6],7.0 [4.0-11.3],...,0.9 [0.3-2.2],0.6 [0.2-1.2],0.2 [0.0-0.7],0.9 [0.3-2.1],0.5 [0.2-1.1],0.2 [0.0-0.7],0.8 [0.2-2.0],0.5 [0.2-1.1],0.2 [0.0-0.6],0.8 [0.2-2.0]
4,Albania,21.7 [17.0-26.7],21.6 [14.8-29.0],21.8 [15.3-28.9],21.1 [16.6-26.0],20.9 [14.4-28.1],21.3 [15.1-28.1],20.5 [16.2-25.1],20.2 [13.9-27.3],20.8 [14.9-27.4],...,9.1 [4.6-15.5],6.8 [4.0-10.7],4.8 [2.0-9.3],8.9 [4.3-15.4],6.7 [3.8-10.6],4.6 [1.8-9.2],8.8 [4.1-15.4],6.5 [3.6-10.5],4.4 [1.7-9.2],8.6 [3.9-15.4]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,Venezuela (Bolivarian Republic of),25.6 [21.3-30.2],22.4 [16.4-28.9],28.6 [22.5-35.2],25.2 [21.0-29.5],22.0 [16.2-28.2],28.3 [22.4-34.6],24.8 [20.8-29.0],21.5 [16.0-27.4],27.9 [22.2-34.1],...,14.4 [8.4-21.4],10.3 [6.7-14.6],6.6 [3.2-11.7],14.0 [8.0-21.3],9.9 [6.3-14.3],6.3 [2.9-11.5],13.6 [7.5-21.0],9.6 [5.9-14.1],5.9 [2.7-11.2],13.2 [7.1-20.7]
194,Viet Nam,2.1 [1.4-3.1],1.6 [0.8-2.8],2.6 [1.5-4.2],2.0 [1.3-2.9],1.5 [0.8-2.5],2.4 [1.4-3.9],1.8 [1.2-2.6],1.3 [0.7-2.3],2.3 [1.3-3.6],...,0.2 [0.1-0.6],0.2 [0.1-0.3],0.1 [0.0-0.2],0.2 [0.1-0.5],0.1 [0.1-0.3],0.1 [0.0-0.2],0.2 [0.1-0.5],0.1 [0.0-0.3],0.1 [0.0-0.2],0.2 [0.1-0.5]
195,Yemen,17.1 [13.3-21.3],12.0 [7.3-17.6],22.0 [16.0-28.4],16.5 [12.9-20.5],11.4 [7.0-16.7],21.3 [15.6-27.4],15.9 [12.4-19.6],10.8 [6.7-15.7],20.6 [15.2-26.4],...,4.8 [2.0-9.3],3.1 [1.5-5.7],1.3 [0.4-3.3],4.5 [1.9-9.2],2.9 [1.4-5.6],1.3 [0.3-3.2],4.3 [1.7-9.0],2.8 [1.3-5.4],1.2 [0.3-3.1],4.2 [1.5-8.9]
196,Zambia,8.1 [5.8-10.7],3.6 [1.7-6.5],12.4 [8.5-17.1],7.7 [5.6-10.2],3.4 [1.6-6.1],12.0 [8.2-16.4],7.4 [5.4-9.8],3.2 [1.5-5.7],11.5 [7.9-15.7],...,3.0 [1.3-5.6],1.7 [0.8-3.2],0.5 [0.1-1.5],2.9 [1.2-5.4],1.6 [0.7-3.1],0.5 [0.1-1.4],2.7 [1.1-5.3],1.5 [0.7-3.0],0.5 [0.1-1.4],2.5 [1.0-5.1]
197,Zimbabwe,15.5 [12.0-19.2],4.7 [2.5-8.0],25.3 [19.1-32.0],15.2 [11.9-18.8],4.5 [2.4-7.6],24.8 [18.9-31.3],14.9 [11.7-18.4],4.4 [2.4-7.3],24.4 [18.8-30.6],...,7.7 [3.9-13.1],4.0 [2.1-6.8],0.5 [0.1-1.3],7.4 [3.6-12.7],3.9 [1.9-6.7],0.5 [0.1-1.3],7.0 [3.3-12.4],3.7 [1.7-6.5],0.4 [0.1-1.3],6.7 [3.0-12.2]

In [4]:
usa_row = df1.rename(columns={'Unnamed: 0': 'countries'})

In [5]:
usa_row

,countries,2016,2016.1,2016.2,2015,2015.1,2015.2,2014,2014.1,2014.2,...,1978.2,1977,1977.1,1977.2,1976,1976.1,1976.2,1975,1975.1,1975.2
0,NaN,"Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;...",...,"Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;...","Prevalence of obesity among adults, BMI &amp;..."
1,NaN,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,...,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years
2,"Countries, territories and areas",Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female,...,Female,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female
3,Afghanistan,5.5 [3.4-8.1],3.2 [1.3-6.4],7.6 [4.3-12.4],5.2 [3.3-7.7],3.0 [1.3-6.0],7.3 [4.1-11.8],4.9 [3.1-7.3],2.8 [1.2-5.6],7.0 [4.0-11.3],...,0.9 [0.3-2.2],0.6 [0.2-1.2],0.2 [0.0-0.7],0.9 [0.3-2.1],0.5 [0.2-1.1],0.2 [0.0-0.7],0.8 [0.2-2.0],0.5 [0.2-1.1],0.2 [0.0-0.6],0.8 [0.2-2.0]
4,Albania,21.7 [17.0-26.7],21.6 [14.8-29.0],21.8 [15.3-28.9],21.1 [16.6-26.0],20.9 [14.4-28.1],21.3 [15.1-28.1],20.5 [16.2-25.1],20.2 [13.9-27.3],20.8 [14.9-27.4],...,9.1 [4.6-15.5],6.8 [4.0-10.7],4.8 [2.0-9.3],8.9 [4.3-15.4],6.7 [3.8-10.6],4.6 [1.8-9.2],8.8 [4.1-15.4],6.5 [3.6-10.5],4.4 [1.7-9.2],8.6 [3.9-15.4]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,Venezuela (Bolivarian Republic of),25.6 [21.3-30.2],22.4 [16.4-28.9],28.6 [22.5-35.2],25.2 [21.0-29.5],22.0 [16.2-28.2],28.3 [22.4-34.6],24.8 [20.8-29.0],21.5 [16.0-27.4],27.9 [22.2-34.1],...,14.4 [8.4-21.4],10.3 [6.7-14.6],6.6 [3.2-11.7],14.0 [8.0-21.3],9.9 [6.3-14.3],6.3 [2.9-11.5],13.6 [7.5-21.0],9.6 [5.9-14.1],5.9 [2.7-11.2],13.2 [7.1-20.7]
194,Viet Nam,2.1 [1.4-3.1],1.6 [0.8-2.8],2.6 [1.5-4.2],2.0 [1.3-2.9],1.5 [0.8-2.5],2.4 [1.4-3.9],1.8 [1.2-2.6],1.3 [0.7-2.3],2.3 [1.3-3.6],...,0.2 [0.1-0.6],0.2 [0.1-0.3],0.1 [0.0-0.2],0.2 [0.1-0.5],0.1 [0.1-0.3],0.1 [0.0-0.2],0.2 [0.1-0.5],0.1 [0.0-0.3],0.1 [0.0-0.2],0.2 [0.1-0.5]
195,Yemen,17.1 [13.3-21.3],12.0 [7.3-17.6],22.0 [16.0-28.4],16.5 [12.9-20.5],11.4 [7.0-16.7],21.3 [15.6-27.4],15.9 [12.4-19.6],10.8 [6.7-15.7],20.6 [15.2-26.4],...,4.8 [2.0-9.3],3.1 [1.5-5.7],1.3 [0.4-3.3],4.5 [1.9-9.2],2.9 [1.4-5.6],1.3 [0.3-3.2],4.3 [1.7-9.0],2.8 [1.3-5.4],1.2 [0.3-3.1],4.2 [1.5-8.9]
196,Zambia,8.1 [5.8-10.7],3.6 [1.7-6.5],12.4 [8.5-17.1],7.7 [5.6-10.2],3.4 [1.6-6.1],12.0 [8.2-16.4],7.4 [5.4-9.8],3.2 [1.5-5.7],11.5 [7.9-15.7],...,3.0 [1.3-5.6],1.7 [0.8-3.2],0.5 [0.1-1.5],2.9 [1.2-5.4],1.6 [0.7-3.1],0.5 [0.1-1.4],2.7 [1.1-5.3],1.5 [0.7-3.0],0.5 [0.1-1.4],2.5 [1.0-5.1]
197,Zimbabwe,15.5 [12.0-19.2],4.7 [2.5-8.0],25.3 [19.1-32.0],15.2 [11.9-18.8],4.5 [2.4-7.6],24.8 [18.9-31.3],14.9 [11.7-18.4],4.4 [2.4-7.3],24.4 [18.8-30.6],...,7.7 [3.9-13.1],4.0 [2.1-6.8],0.5 [0.1-1.3],7.4 [3.6-12.7],3.9 [1.9-6.7],0.5 [0.1-1.3],7.0 [3.3-12.4],3.7 [1.7-6.5],0.4 [0.1-1.3],6.7 [3.0-12.2]

In [6]:
usa_over_time = usa_row[usa_row['countries'] == 'United States of America']

In [7]:
usa_over_time

,countries,2016,2016.1,2016.2,2015,2015.1,2015.2,2014,2014.1,2014.2,...,1978.2,1977,1977.1,1977.2,1976,1976.1,1976.2,1975,1975.1,1975.2
189,United States of America,36.2 [32.3-40.1],35.5 [30.0-41.2],37.0 [31.6-42.4],35.6 [31.9-39.3],34.7 [29.7-40.1],36.4 [31.3-41.4],34.9 [31.4-38.4],34.0 [29.2-39.0],35.7 [31.0-40.6],...,14.4 [10.9-18.2],12.6 [10.1-15.3],11.0 [7.8-15.0],14.0 [10.4-18.0],12.2 [9.7-15.1],10.7 [7.4-14.7],13.6 [10.0-17.8],11.9 [9.3-14.8],10.3 [7.0-14.5],13.3 [9.5-17.6]

In [8]:
def modify_column_names(column):
    if column.endswith('.1'):
        year = column.split('.')[0]
        return year + ' Male'
    elif column.endswith('.2'):
        year = column.split('.')[0]
        return year + ' Female'
    else:
        return column + ' Both Sexes'

# Modify the column names using the function
usa_over_time_clean = usa_over_time.rename(columns=modify_column_names)

# Print the filtered row with the modified column names
usa_over_time_clean

,countries Both Sexes,2016 Both Sexes,2016 Male,2016 Female,2015 Both Sexes,2015 Male,2015 Female,2014 Both Sexes,2014 Male,2014 Female,...,1978 Female,1977 Both Sexes,1977 Male,1977 Female,1976 Both Sexes,1976 Male,1976 Female,1975 Both Sexes,1975 Male,1975 Female
189,United States of America,36.2 [32.3-40.1],35.5 [30.0-41.2],37.0 [31.6-42.4],35.6 [31.9-39.3],34.7 [29.7-40.1],36.4 [31.3-41.4],34.9 [31.4-38.4],34.0 [29.2-39.0],35.7 [31.0-40.6],...,14.4 [10.9-18.2],12.6 [10.1-15.3],11.0 [7.8-15.0],14.0 [10.4-18.0],12.2 [9.7-15.1],10.7 [7.4-14.7],13.6 [10.0-17.8],11.9 [9.3-14.8],10.3 [7.0-14.5],13.3 [9.5-17.6]

In [9]:
columns_to_keep = [col for col in usa_over_time_clean.columns if 'Both Sexes' in col]
usa_over_time_clean = usa_over_time_clean[columns_to_keep]

In [10]:
usa_over_time_clean

,countries Both Sexes,2016 Both Sexes,2015 Both Sexes,2014 Both Sexes,2013 Both Sexes,2012 Both Sexes,2011 Both Sexes,2010 Both Sexes,2009 Both Sexes,2008 Both Sexes,...,1984 Both Sexes,1983 Both Sexes,1982 Both Sexes,1981 Both Sexes,1980 Both Sexes,1979 Both Sexes,1978 Both Sexes,1977 Both Sexes,1976 Both Sexes,1975 Both Sexes
189,United States of America,36.2 [32.3-40.1],35.6 [31.9-39.3],34.9 [31.4-38.4],34.3 [31.0-37.6],33.6 [30.6-36.7],33.0 [30.1-35.9],32.3 [29.6-35.1],31.7 [29.0-34.3],31.0 [28.5-33.6],...,15.5 [13.2-17.8],15.0 [12.8-17.3],14.6 [12.3-16.9],14.1 [11.8-16.5],13.7 [11.4-16.2],13.3 [10.9-15.9],13.0 [10.6-15.5],12.6 [10.1-15.3],12.2 [9.7-15.1],11.9 [9.3-14.8]

In [11]:
usa_over_time_clean = usa_over_time_clean.rename(columns={'countries Both Sexes': 'USA'})
usa_over_time_clean

,USA,2016 Both Sexes,2015 Both Sexes,2014 Both Sexes,2013 Both Sexes,2012 Both Sexes,2011 Both Sexes,2010 Both Sexes,2009 Both Sexes,2008 Both Sexes,...,1984 Both Sexes,1983 Both Sexes,1982 Both Sexes,1981 Both Sexes,1980 Both Sexes,1979 Both Sexes,1978 Both Sexes,1977 Both Sexes,1976 Both Sexes,1975 Both Sexes
189,United States of America,36.2 [32.3-40.1],35.6 [31.9-39.3],34.9 [31.4-38.4],34.3 [31.0-37.6],33.6 [30.6-36.7],33.0 [30.1-35.9],32.3 [29.6-35.1],31.7 [29.0-34.3],31.0 [28.5-33.6],...,15.5 [13.2-17.8],15.0 [12.8-17.3],14.6 [12.3-16.9],14.1 [11.8-16.5],13.7 [11.4-16.2],13.3 [10.9-15.9],13.0 [10.6-15.5],12.6 [10.1-15.3],12.2 [9.7-15.1],11.9 [9.3-14.8]

In [12]:
usa_over_time_clean = usa_over_time_clean.rename(columns=lambda x: x.split(' ')[0])

In [13]:
usa_over_time_clean

,USA,2016,2015,2014,2013,2012,2011,2010,2009,2008,...,1984,1983,1982,1981,1980,1979,1978,1977,1976,1975
189,United States of America,36.2 [32.3-40.1],35.6 [31.9-39.3],34.9 [31.4-38.4],34.3 [31.0-37.6],33.6 [30.6-36.7],33.0 [30.1-35.9],32.3 [29.6-35.1],31.7 [29.0-34.3],31.0 [28.5-33.6],...,15.5 [13.2-17.8],15.0 [12.8-17.3],14.6 [12.3-16.9],14.1 [11.8-16.5],13.7 [11.4-16.2],13.3 [10.9-15.9],13.0 [10.6-15.5],12.6 [10.1-15.3],12.2 [9.7-15.1],11.9 [9.3-14.8]

In [14]:
columns_to_clean = usa_over_time_clean.columns

# Remove the values within brackets in the specified columns
usa_over_time_clean[columns_to_clean] = usa_over_time_clean[columns_to_clean].apply(lambda x: x.str.replace(r'\[.*?\]', '', regex=True))

In [15]:
usa_over_time_clean

,USA,2016,2015,2014,2013,2012,2011,2010,2009,2008,...,1984,1983,1982,1981,1980,1979,1978,1977,1976,1975
189,United States of America,36.2,35.6,34.9,34.3,33.6,33.0,32.3,31.7,31.0,...,15.5,15.0,14.6,14.1,13.7,13.3,13.0,12.6,12.2,11.9

In [18]:
sorted_years_df = usa_over_time_clean.iloc[:, np.argsort(usa_over_time_clean.columns)]
sorted_years_df

,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,USA
189,11.9,12.2,12.6,13.0,13.3,13.7,14.1,14.6,15.0,15.5,...,31.0,31.7,32.3,33.0,33.6,34.3,34.9,35.6,36.2,United States of America

In [19]:
sorted_years_df = sorted_years_df.drop('USA', axis=1)
sorted_years_df

,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
189,11.9,12.2,12.6,13.0,13.3,13.7,14.1,14.6,15.0,15.5,...,30.3,31.0,31.7,32.3,33.0,33.6,34.3,34.9,35.6,36.2

In [20]:
sorted_years_df = sorted_years_df.rename(index={189: 'USA'})
sorted_years_df

,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
USA,11.9,12.2,12.6,13.0,13.3,13.7,14.1,14.6,15.0,15.5,...,30.3,31.0,31.7,32.3,33.0,33.6,34.3,34.9,35.6,36.2